body {
    color: #FFFFFF;
}

.hero{
    background-image: url("/img/bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.golden{
    color: #D6B02C;
}
