 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
 }

 body {
     width: 100% !important;
     height: 100%;
     margin: 0px !important;
     padding: 0px !important;
     overflow-x: hidden;
     background-color: #ebebeb;
 }

 .hero {
     width: 100%;
     height: 100vh;
     background-image: url("./img/bg-images.png");
     overflow: hidden;
     background-color: #000000;
 }

 .hader2 {
     padding-top: 150px !important;
     padding-bottom: 2% !important;
 }

 .navbar {
     padding: 0px 0;
     overflow: hidden;
     display: flex;
     width: 100vw;
     position: fixed;
     align-items: center;
     justify-content: space-between;
     background-color: rgb(247, 246, 246) !important;
     z-index: 1100;
 }

 .logo {
     width: 90px;
     margin-left: 1%;
     display: inline-block;
     list-style: none;
 }

 .hero nav a {
     display: inline-block;
     text-decoration: none;
     margin-left: 0% !important;
     color: #000;
     font-weight: 400;
     font-size: 18px;
     position: relative;
 }

 nav ul li {
     display: inline-block;
     list-style: none;
     margin: 10px 15px;
 }

 nav ul li a {
     text-decoration: none;
     color: #000;
     font-weight: 400;
     font-size: 18px;
 }

 .content {
     margin-top: 8%;
     max-width: 600px;
     margin-left: 7%;
 }

 .content h1 {
     font-size: 8rem;
     color:  #ffffff;
     font-weight: 700;
     animation-delay: 1s;
     position: absolute;
     top: 5%;
     width: 50%;
     left: 5%;
     transform: rotate(270deg);
     transition: 0.7s ease;
 }

 .content h1 span {
     color: #fdca12;
 }

 .full-logo {
     width: 530px;
     position: absolute;
     top: 20%;
     right: 10%;
     border-radius: 20%;
     animation-delay: 2s;
     opacity: 88%;
     transition: 0.7s;
 }

 .full-logo:hover {
     transform: scale(1.1);
     opacity: 100%;
     z-index: 2;
 }

 .anim {
     opacity: 0;
     animation: animate 1s 0.5s forwards;
 }

 @keyframes animate {
     0% {
         opacity: 0;
         transform: translateY(50px);
     }

     100% {
         opacity: 1;
         transform: translateY(0);
     }
 }

 .product {
    margin: 7%;
     margin-left: 15%;
    margin-right: 15%;
     position: relative;
 }

 .box {
     width: 500px;
     height: 500px;
     border-radius: 15%;
     overflow: hidden;
 }

 .img-container {
     display: block;
     position: relative;

 }

 .image {
     display: block;
     position: relative;
 }

 .product-img {
     width: 450px;
     height: 400px;
     border-radius: 15%;
     box-shadow: 5px 5px 10px 5px rgb(0, 0, 0, 0.15);
     transition: 1s;
     align-self: center;
 }

 .overlay {
     top: 0;
     position: absolute;
     width: 450px;
     height: 400px;
     border-radius: 15%;
     background-color: rgba(0, 0, 0, 0.4);
     color: white;
     display: flex;
     justify-content: center;
     aLign-items: center;
     opacity: 0;
     transition: 1s;
 }

 .img-container:hover .overlay {
     opacity: 1;
     transform: scale(1.1);
     z-index: 2;
 }

 .img-container:hover .product-img {
     transform: scale(1.1);
     z-index: 2;
 }

 .gradient-background {
     background: linear-gradient(300deg, #2424f8, #c137cb, #08b5f9);
     background-size: 180% 180%;
     animation: gradient-animation 30s ease infinite;
 }
 

 footer {
     color: #000;
 }

 @media (max-width:1300px) {
     .full-logo {
         width: 530px;
         position: absolute;
         top: 25%;
         right: 10%;
         border-radius: 20%;
         animation-delay: 2s;
         opacity: 0;
         transition: 1s;
     }

     .content h1 {
         font-size: 60px;
         color: #ffffff;
         top: 0%;
         left: 5%;
         transform: rotate(270deg);
     }

     .product-img {
         height: auto;
     }
 }

 @media (max-width: 800px) {
     .full-logo {
         width: 300px;
         top: 25%;
         right: 5%;
     }

     .content h1 {
         font-size: 80px;
         top: 10%;
         left: 5%;
         transform: rotate(270deg);
     }

     .slider-container {
         margin-left: 5%;
     }

         .overlay:hover {
             opacity: 0 !important;
             transform: scale(1.1);
             z-index: 2;
         }
    
         .product-img {
             width: 500px;
             height: 300px;
         }

     .details h2,
     .details p {
         opacity: 0;
     }
 }

 @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (-o-min-device-pixel-ratio: 3/2),
 only screen and (min--moz-device-pixel-ratio: 1.5),
 only screen and (min-device-pixel-ratio: 1.5) {
     .navbar {
         height: 50px;
     }

     html,
     body {
         width: 100%;
         overflow-x: hidden;
     }
 }

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

.slider-container {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-images {
    display: flex;
    align-items: center;
    gap: 18px;
}

.slider-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.slider-img {
    width: 110px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
}

.slider-images .slider-img:first-child,
.slider-images .slider-img:last-child {
    height: 480px;
}

.slider-images .slider-img:nth-child(2),
.slider-images .slider-img:nth-child(6) {
    height: 560px;
}

.slider-images .slider-img:nth-child(3),
.slider-images .slider-img:nth-child(4),
.slider-images .slider-img:nth-child(5) {
    height: 665px;
}

h1 {
    font-family: "Jost", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: rotate(270deg);
    transition: 0.7s ease;
}

.details {
    position: absolute;
    bottom: 43px;
    left: 43px;
}

.details h2 {
    font-family: "Jost", sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    line-height: 44px;
    text-align: left;
    color: #b6dcc6;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
}

.details p {
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    line-height: 33px;
    text-align: left;
    color: #8db95c;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
}

.slider-img.active {
    width: 766px !important;
    height: 750px !important;
}

.slider-img.active h1 {
    display: none;
}

.slider-img.active .details p,
.slider-img.active .details h2 {
    display: block;}